.form-new {
    width: 25%;
    margin: 0 auto;
    padding: 2em;
    border: 1px solid #26a69a;
    border-radius: 5px;
}

.actions {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    
}

.actions-index {
    display: flex;
    width: 60%;
    margin: 2em auto;
    justify-content: flex-end;
}

.show {
    justify-content: space-between;
    width: 30%;
}

.header {
    text-align: center;
}

.body-table {
    width: 60%;
    margin: 0 auto;
}

.show-operation {
    width: 30%;
    border: 1px solid #26a69a;
    border-radius: 5px;
    margin: 5em auto;
    padding: 15px;
}

@media screen and (max-width: 600px) {
    .body-table {
        width: 90%;
    }

    .form-new {
        width: 80%;
    }
    .header {
        font-size: 2em;
    }
    .show-operation {
        width: 80%;
    }

    .show {
        width: 80%;
    }
}