<div id="<%= dom_id operation %>">
  <p>
    <strong>Entry:</strong>
    <%= operation.entry %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= operation.payment_method %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= operation.value %>
  </p>

</div>
