<p style="color: green"><%= notice %></p>

<%= render @operation %>

<div class='actions-index show'>
  <%= link_to "Editar", edit_operation_path(@operation), class: 'btn' %>
  <%= link_to I18n.t('operations.back'), operations_path, class: 'btn' %>

  <%#= button_to "Destroy this operation", @operation, method: :delete %>
</div>
